{% extends "base.html" %}
{% block content %}
    <div class="header p-3 pb-md-4 mx-auto ">
      <h1 class="display-4 fw-normal">Keep Going with Modzy</h1>
      <p class="fs-5 text-muted">Quickly and easily get started with Modzy's compiled, production-ready ML models and these examples featuring python, html and helpful links. Review our documentation to get started.</p>
      <a href="https://www.modzy.com/sign-up" class="btn btn-primary btn-lg px-4">Create a free Modzy Basic account</a>
      <a href="https://docs.modzy.com/recipes" class="btn btn-secondary btn-lg px-4">Read Modzy's Documentation</a>
    </div>

    <hr class="col-3 col-md-2 mb-5">

    <div class="row g-5">
      <div class="col-md-6">
        <h2>Starter projects</h2>
        <p>Ready to beyond the starter template? Check out these open source projects that you can quickly duplicate to a new GitHub repository.</p>
        <ul class="icon-list">
          <li><a href="https://docs.modzy.com/docs/social-media-analysis" rel="noopener" target="_blank">RSS Feed Summarizer</a></li>
          <li><a href="https://docs.modzy.com/docs/youtube-deepfake-detector" rel="noopener" target="_blank">YouTube deepfake detection</a></li>
          <li><a href="https://docs.modzy.com/docs/sentiment-sensing-slackbot" rel="noopener" target="_blank">Sentiment Sensing Slackbot</a></li>
          <li><a href="https://docs.modzy.com/docs/ocr-translate-and-summarize" rel="noopener" target="_blank">OCR & Translate</a></li>
        </ul>
      </div>

      <div class="col-md-6">
        <h2>Guides</h2>
        <p>Read more detailed instructions and documentation on using or contributing to Bootstrap.</p>
        <ul class="icon-list">
          <li><a href="https://docs.modzy.com/docs/getting-started">Your first 30 minutes with Modzy</a></li>
          <li><a href="https://docs.modzy.com/docs/python">Using the Python SDK</a></li>
          <li><a href="https://docs.modzy.com/docs/packaging-your-first-model">Packaging your first model</a></li>
          <li><a href="https://docs.modzy.com/docs/sagemaker">Importing from Sagemaker</a></li>
        </ul>
      </div>
    </div>
{% endblock %}

